<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>悦和国际官网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/login.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<!-- logo -->
		<div class="logo flt">
			<img alt="168信息" src="images/YueHeGuoJiLogo_new.png"/>
			<span>悦和后台管理系统</span>
		</div>
<div class="container">
    <div class="text-center">
        
        <h1>悦和国际</h1>
        
        <div class="lead" >
           悦，乃愉悦舒悦之意。和，借温和祥和之名。如同做人，和颜悦色，温文尔雅，对人处事，真诚以待，一个人的眼光，
           决定其发展的方向，一个人的德行，决定其能走多远。而做企业，实则更为做人，其立业之根本，
           在于寻求与客户之间长久互惠互利的平衡之道，求客并不伤客，不愧天地不愧其心。   
           悦和国际，借助时下高科技手段，以及业内十几年的风雨兼程，以最贴心的服务态度，
           最朴实的服务理念，最先进的服务技术，给您一个健康肌肤，还您一份完美无瑕。  
        </div>
        
        <!-- p>
            <a id="signup" class="btn btn-success btn-lg">登陆</a>
        </p> -->
    </div>
    <div th:align="center">&copy; 2019 悦和国际</div>
</div>
<!-- script th:inline="javascript" type="text/javascript">
/* Fill in modal with content loaded with Ajax */
$(document).ready(function () {
    $('#signup').on('click', function (e) {
        $("#myModal").modal();
        $("#myModalBody").text("");
        $.ajax({
            url: "signup",
            cache: false
        }).done(function (html) {
            $("#myModalBody").append(html);
        });
    })
});
</script>
<!-- Modal --
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Signup</h4>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content --
    </div><!-- /.modal-dialog --
</div><!-- /.modal -->
</body>
</html>
