<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>

</head>
<body>
    <div  class="container"  th:fragment="filter">
        <div class="form-group  row " style="margin-left:5px">

            <div class="col-xs-2">
                <label for="cosmeticShop">美容院</label>
                <select class="fstdropdown-select" required="required" name="cosmeticShopId" id="cosmeticShop">
                    <option selected="selected"> --请选择美容院 --
                    </option>
                    <option th:each="cosmeticShop : ${cosmeticShopList}" th:value="${cosmeticShop.id}"
                        th:text="${cosmeticShop.name}">
                    </option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="client">客户名</label>
                <select class="fstdropdown-select" required="required" name="clientId" id="client">
                    <option selected="selected"> --请选择客户姓名 --
                    </option>
                    <option th:each="client : ${clientList}" th:value="${client.id}"
                        th:text="${client.name}">
                    </option>
                </select>
            </div>
            <div class="col-xs-2" style="margin-left:65px">
                <button type="button" class="btn btn-primary" id="client_filter_btn">
                    <span id="client_filter_span" class="glyphicon glyphicon-search"></span> 搜索
                </button>
            </div>
            <!-- <div class="col-xs-2 hidden" style="margin-left:65px">
                <button type="button" class="btn btn-default" id="client_questionare_new_item">
                    <span class="glyphicon glyphicon-search"></span> 新建客户问卷
                </button>
            </div> -->
        </div>
    </div>		


</body>
</html>
