body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.panel > .panel-body{
  padding-top: 0px;
}
.panel > .panel-heading{
  background-color: blue;
  color: white;
}
.clickable-row {
  cursor: pointer;
}
.my-custom-scrollbar {
position: relative;
height: 460px;
overflow: auto;
margin: 10 auto;
white-space: nowrap;
}
.table-wrapper-scroll-y {
display: block;
}
thead th {
  font-size: 1.2em;
  padding: 5px !important;
  height: 45px;
  background: lemonchiffon;
  position: sticky; top: 0; 
}
.saleRecordList {
max-width: 800px;
margin: 0 auto;
}
#saleRecordList th, td {
white-space: nowrap;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.ml-1 {
  margin-left: 5%
}
.table-nonfluid {
   width: auto !important;
}

.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}
.yuehe-form-group {
  margin-bottom: 15px;
  padding-left: 10px;
}
.yuehe-alert {
  font-size: 20px;
  font-weight: bold;
  letter-spacing:2px;
}
.yuehe-filter-Input {
  font-size:10px;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%
}