<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>编辑客户问卷</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fstdropdown.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/clientQuestionareEditItem.js}"></script>
	<script type="text/javascript" th:src="@{/js/clientFilter.js}"></script>
	<script type="text/javascript" th:src="@{/js/yueHeCommon.js}"></script>
	<script type="text/javascript" th:src="@{/js/fstdropdown.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.js}"></script>

	<!-- <meta http-equiv="refresh" content="600; URL=/"> this will redirect to / after 600s-->
</head>

<body>
	<div th:replace="fragments/header.html :: header">Header</div>

	<div role="main" class="container">

		<br>
		<div class="container">
			<h3>编辑客户问卷</h3>
			<hr>
			<form class="form-horizontal" id="client_questionare_edit_item" th:object="${clientQuestionare}" th:action="@{/clientQuestionare/update/{id}(id=${clientQuestionare.id})}" method="POST">
				<div class="form-group ">
						<input type="hidden" id="clientId" name="clientId" th:field="*{clientId}" >
			
					<label class="col-sm-1 " style="text-align:right;">姓名</label>
					<div class="col-sm-2">
							<span id="clientName" th:text="*{clientName}" class="form-control-static">test</span>
					</div>
					<label class="col-sm-1 " style="text-align:right;">性别</label>
					<div class="col-sm-2">
						<span id="clientGender" th:text="*{clientGender}" class="form-control-static">tets</span>
					</div>
					<label class="col-sm-1 " style="text-align:right;">年龄</label>
					<div class="col-sm-5">
							<span id="clientAge" th:text="*{clientAge}" class="form-control-static">test</span>
					</div>
				  </div>
				<hr>
			  <div class="form-group ">
				<label class="col-sm-2 control-label">常做美容项目</label>
				<div class="col-sm-6">
					<input class="form-control " th:field="*{usualBeautifyItem}"  id="usualBeautifyItem" name="usualBeautifyItem" type="text" >
				</div>
				<div class="col-sm-4"></div>

			  </div>
			  <div class="form-group">
					<label class="col-sm-2 control-label">是否经常过敏体质</label>
					<div class="col-sm-2">
						<label class="radio-inline">
							<input type="radio" name="ifAlergicBody" id="ifAlergicBodyYes" value="1"
								th:checked="*{ifAlergicBody}"/>是
						</label>
						<label class="radio-inline">
							<input type="radio" name="ifAlergicBody" id="ifAlergicBodyNo" value="0"
								th:checked="*{ifAlergicBody} == false"/>否
						</label>
					</div>
					<label class="col-sm-2 control-label">是否敏感性皮肤</label>
					<div class="col-sm-6">
						<label class="radio-inline">
							<input type="radio" name="ifAlergicSkin" id="ifAlergicSkinYes" value="1"
								th:checked="*{ifAlergicSkin}"/>是
						</label>
						<label class="radio-inline">
							<input type="radio" name="ifAlergicSkin" id="ifAlergicSkinNo" value="0"
								th:checked="*{ifAlergicSkin} == false"/>否
						</label>
					</div>
				</div>
			  <div class="form-group">
					<label class="col-sm-2 control-label">过敏源</label>
					<!-- <div class="col-sm-2" th:each="alergicSource : ${allAlergicSources} "> -->
					<div class="col-sm-10"  >
						<label class="checkbox-inline">
							<input type="checkbox" name="alergicSource" id="alergicSourceAccesory" value="accesory"
							th:checked="${#arrays.contains(clientQuestionare.alergicSources,'accesory' )}? 'checked'"
							/>  饰品
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name="alergicSource" id="alergicSourcePowder" value="powder"
							th:checked="${#arrays.contains(clientQuestionare.alergicSources,'powder' )}? 'checked'"
							
								/>  花粉
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name="alergicSource" id="alergicSourceSkinCareProduct" value="skinCareProduct"
							th:checked="${#arrays.contains(clientQuestionare.alergicSources,'skinCareProduct' )}? 'checked'"
							/>  护肤品
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name="alergicSource" id="alergicSourceFood" value="food"
							th:checked="${#arrays.contains(clientQuestionare.alergicSources,'food' )}? 'checked'"
							/>  食品
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name="alergicSource" id="alergicSourceMedicine" value="medicine"
							th:checked="${#arrays.contains(clientQuestionare.alergicSources,'medicine' )}? 'checked'"
							/>  药物
						</label>
						<label class="checkbox-inline">
							药物名称： 
							<input class="yuehe-underline-Input" th:field="*{medicineName}" id="medicineName"  name="medicineName" type="text" >
						</label>
				
					</div>
				

				</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">身体是否健康</label>
							<div class="col-sm-2">
								<label class="radio-inline">
									<input type="radio" name="ifHealthy" id="ifHealthyYes" value="1"
										th:checked="*{ifHealthy}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifHealthy" id="ifHealthyNo" value="0"
										th:checked="*{ifHealthy} == false"/>否
								</label>
							</div>
							<label class="col-sm-2 control-label">近期是否服用药物</label>
							<div class="col-sm-6">
								<label class="radio-inline">
									<input type="radio" name="ifHadMedicine" id="ifHadMedicineYes" value="1"
										th:checked="*{ifHadMedicine}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifHadMedicine" id="ifHadMedicineNo" value="0"
										th:checked="*{ifHadMedicine} == false"/>否
								</label>
							</div>
						</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">是否怀孕或哺乳</label>
							<div class="col-sm-2">
								<label class="radio-inline">
									<input type="radio" name="ifPregnantOrBreastFeeding" id="ifPregnantOrBreastFeedingYes" value="1"
										th:checked="*{ifPregnantOrBreastFeeding}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifPregnantOrBreastFeeding" id="ifPregnantOrBreastFeedingNo" value="0"
										th:checked="*{ifPregnantOrBreastFeeding} == false"/>否
								</label>
							</div>
							<label class="col-sm-2 control-label">是否使用含美白护肤品</label>
							<div class="col-sm-6">
								<label class="radio-inline">
									<input type="radio" name="ifUsedWhiteningProduct" id="ifUsedWhiteningProductYes" value="1"
										th:checked="*{ifUsedWhiteningProduct}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifUsedWhiteningProduct" id="ifUsedWhiteningProductNo" value="0"
										th:checked="*{ifUsedWhiteningProduct} == false"/>否
								</label>
							</div>
						</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">是否有日晒机会</label>
							<div class="col-sm-2">
								<label class="radio-inline">
									<input type="radio" name="ifSunExposure" id="ifSunExposureYes" value="1"
										th:checked="*{ifSunExposure}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifSunExposure" id="ifSunExposureNo" value="0"
										th:checked="*{ifSunExposure} == false"/>否
								</label>
							</div>
							<label class="col-sm-2 control-label">是否有防晒习惯</label>
							<div class="col-sm-6">
								<label class="radio-inline">
									<input type="radio" name="ifSunProtection" id="ifSunProtectionYes" value="1"
										th:checked="*{ifSunProtection}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifSunProtection" id="ifSunProtectionNo" value="0"
										th:checked="*{ifSunProtection} == false"/>否
								</label>
							</div>
						</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">近期是否暴晒</label>
							<div class="col-sm-2">
								<label class="radio-inline">
									<input type="radio" name="ifSunBurnRecently" id="ifSunBurnRecentlyYes" value="1"
										th:checked="*{ifSunBurnRecently}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifSunBurnRecently" id="ifSunBurnRecentlyNo" value="0"
										th:checked="*{ifSunBurnRecently} == false"/>否
								</label>
							</div>
							<label class="col-sm-2 control-label">是否瘢痕体质</label>
							<div class="col-sm-6">
								<label class="radio-inline">
									<input type="radio" name="ifScabBody" id="ifScabBodyYes" value="1"
										th:checked="*{ifScabBody}"/>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="ifScabBody" id="ifScabBodyNo" value="0"
										th:checked="*{ifScabBody} == false"/>否
								</label>
							</div>
						</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">饮食情况</label>
								<!-- <div class="col-sm-2" th:each="eatingSituation : ${allAlergicSources} "> -->
								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="checkbox" name="eatingSituation" id="eatingSituationHighFat" value="highFat"
											th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'highFat' )}? 'checked'"
											/>  高脂肪
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="eatingSituation" id="eatingSituationVegetable" value="vegetable"
										th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'vegetable' )}? 'checked'"
											/>  蔬菜
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="eatingSituation" id="eatingSituationMeat" value="meat"
										th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'meat' )}? 'checked'"
										/>  肉类
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="eatingSituation" id="eatingSituationFruit" value="fruit"
										th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'fruit' )}? 'checked'"
										/>  水果类
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="eatingSituation" id="eatingSituationFry" value="fry"
										th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'fry' )}? 'checked'"
										/>  油炸类
									</label>
									<label class="checkbox-inline">
											<input type="checkbox" name="eatingSituation" id="eatingSituationCafe" value="cafe"
											th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'cafe' )}? 'checked'"
											/>  咖啡
										</label>
									<label class="checkbox-inline">
											<input type="checkbox" name="eatingSituation" id="eatingSituationSmokeAndDrink" value="smokeAndDrink"
											th:checked="${#arrays.contains(clientQuestionare.eatingSituations,'smokeAndDrink' )}? 'checked'"
											/>  烟酒
										</label>
							
								</div>
			
							</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">睡眠情况</label>
								<!-- <div class="col-sm-2" th:each="sleepSituation : ${allAlergicSources} "> -->
								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="checkbox" name="sleepSituation" id="sleepSituationWell" value="well"
										th:checked="${#arrays.contains(clientQuestionare.sleepSituations,'well' )}? 'checked'"
										/>  良好
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="sleepSituation" id="sleepSituationJetleg" value="jetleg"
										th:checked="${#arrays.contains(clientQuestionare.sleepSituations,'jetleg' )}? 'checked'"
										/>  倒时差
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="sleepSituation" id="sleepSituationDream" value="dream"
										th:checked="${#arrays.contains(clientQuestionare.sleepSituations,'dream' )}? 'checked'"
										/>  多梦易醒
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="sleepSituation" id="sleepSituationLate" value="late"
										th:checked="${#arrays.contains(clientQuestionare.sleepSituations,'late' )}? 'checked'"
										/>  经常熬夜
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="sleepSituation" id="sleepSituationLess" value="less"
										th:checked="${#arrays.contains(clientQuestionare.sleepSituations,'less' )}? 'checked'"
										/>  失眠
									</label>
									
							
								</div>
			
							</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">消化系统</label>
								<div class="col-sm-10" >
									<label class="checkbox-inline">
										<input type="checkbox" name="digestSituation" id="digestSituationNormal" value="normal"
										th:checked="${#arrays.contains(clientQuestionare.digestSituations,'normal' )}? 'checked'"
										/>  正常
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="digestSituation" id="digestSituationAverage" value="average"
										th:checked="${#arrays.contains(clientQuestionare.digestSituations,'average' )}? 'checked'"
										/>  一般
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="digestSituation" id="digestSituationConstipation" value="constipation"
										th:checked="${#arrays.contains(clientQuestionare.digestSituations,'constipation' )}? 'checked'"
										/>  便秘
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="digestSituation" id="digestSituationDiarrhea" value="diarrhea"
										th:checked="${#arrays.contains(clientQuestionare.digestSituations,'diarrhea' )}? 'checked'"
										/>  腹泻
									</label>
									
									
							
								</div>
			
							</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">内分泌系统</label>
								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="checkbox" name="incretionSituation" id="incretionSituationNormal" value="normal"
										th:checked="${#arrays.contains(clientQuestionare.incretionSituations,'normal' )}? 'checked'"
										/>  正常
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="incretionSituation" id="incretionSituationAbnormal" value="abnormal"
										th:checked="${#arrays.contains(clientQuestionare.incretionSituations,'abnormal' )}? 'checked'"
										/>  失调
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="incretionSituation" id="incretionSituationGynecologyIssue" value="gynecologyIssue"
										th:checked="${#arrays.contains(clientQuestionare.incretionSituations,'gynecologyIssue' )}? 'checked'"
										/>  妇科问题
									</label>
									
							
								</div>
			
							</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">运动习惯</label>
								<div class="col-sm-10" >
									<label class="radio-inline">
										<input type="radio" name="practiseSituation" id="practiseSituationRegular" value="1"
											th:checked="*{practiseSituation}"/>  规律
									</label>
									<label class="radio-inline">
										<input type="radio" name="practiseSituation" id="practiseSituationOccasional" value="0"
											th:checked="*{practiseSituation} == false"/>  偶尔
									</label>
									<label class="radio-inline">
										<input type="radio" name="practiseSituation" id="practiseSituationNone" value="0"
											th:checked="*{practiseSituation} == false"/>  无
									</label>
									<label class="checkbox-inline">
										主要运动方式： 
										<input class="yuehe-underline-Input" th:field="*{practiseMethods}" id="practiseMethods" name="practiseMethods" type="text" >
									</label>
							
								</div>
			
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">工作环境</label>
								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="checkbox" name="workingEnv" id="workingEnvComputer" value="computer"
										th:checked="${#arrays.contains(clientQuestionare.workingEnvs,'computer' )}? 'checked'"
										/>  长期电脑辐射
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="workingEnv" id="workingEnvSunExposure" value="sunExposure"
										th:checked="${#arrays.contains(clientQuestionare.workingEnvs,'sunExposure' )}? 'checked'"
										/>  长时间暴晒
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="workingEnv" id="workingEnvBusinessTrip" value="businessTrip"
										th:checked="${#arrays.contains(clientQuestionare.workingEnvs,'businessTrip' )}? 'checked'"
										/>  经常出差
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="workingEnv" id="workingEnvIndoor" value="indoor"
										th:checked="${#arrays.contains(clientQuestionare.workingEnvs,'indoor' )}? 'checked'"
										/>  室内
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" name="workingEnv" id="workingEnvFree" value="free"
										th:checked="${#arrays.contains(clientQuestionare.workingEnvs,'free' )}? 'checked'"
										/>  无需工作
									</label>
									
							
								</div>
			
							</div>
							<div class="form-group ">
								<label class="col-sm-2 control-label">曾用过护肤品名称</label>
								<div class="col-sm-6">
									<input class="form-control " th:field="*{commonUsedSkinCareProducts}" id="commonUsedSkinCareProducts" name="commonUsedSkinCareProducts" type="text" >
								</div>
								<div class="col-sm-4"></div>
				
							  </div>
						<br>
						<div class="form-group  row ">
								<div class="content">
									<div class="input-group col-xs-1">
										<input type="submit" class="btn-primary  btn-lg" name="clientQuestionareUpdateItem"
											value="更新" />
									</div>
									<div class="input-group col-xs-1">
										<input id="client_questionare_delete_btn" type="submit" name="clientQuestionareDeleteItem"
											class="btn-primary  btn-lg" value="删除" />
									</div>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer.html :: footer">footer</div>
	</div>
</body>

</html>