<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>美容院表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/cosmeticShopList.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.min.js}"></script>
	<meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>
	
	<div role="main" class="container">
		<div th:replace="~{fragments/cosmeticShopHeader.html :: header}">Header</div>
		<div th:replace="~{fragments/alert.html :: alert}">alert div</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>以下为现有的美容院:</h3>
			</div>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-hover  table-sm">
					<thead>
						<tr class="info">
							<th>ID</th>
							<th>美容院名</th>
							<th>老板</th>
							<th>联系方式</th>
							<th>地址</th>
							<th>规模</th>
							<th>折扣</th>
							<th>简介</th>
						</tr>
					</thead>
					<tbody>
						<tr class="clickable-row" data-th-each="cosmeticShop : ${cosmeticShopList}">
							<td data-th-text="${cosmeticShop.id}">...</td>
							<td data-th-text="${cosmeticShop.name}">...</td>
							<td data-th-text="${cosmeticShop.owner}">...</td>
							<td data-th-text="${cosmeticShop.contactMethod}">...</td>
							<td data-th-text="${cosmeticShop.location}">...</td>
							<td data-th-text="${cosmeticShop.size}">...</td>
							<td data-th-text="${cosmeticShop.discount}">...</td>
							<td data-th-text="${cosmeticShop.description}">...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div th:replace="~{fragments/footer.html :: footer}">footer</div>
		<!-- /.container -->
	</div>
</body>

</html>