<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>职责分工表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dutyList.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.min.js}"></script>
	<!-- <meta http-equiv="refresh" content="600; URL=/"> this will redirect to / after 600s -->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container">
		<div th:replace="~{fragments/dutyHeader.html :: header}">Tool Header</div>
		<div th:replace="~{fragments/alert.html :: alert}">alert div</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>以下为现有公司的职责分工:</h3>
			</div>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-hover  table-sm ">
					<thead>
						<tr class="info">
							<th>id</th>
							<th>员工名</th>
							<th>角色名</th>
							<th>补贴</th>
							<th>备注</th>
						</tr>
					</thead>

					<tbody>
						<tr class="clickable-row" data-th-each="duty : ${dutyList}">
							<td data-th-text="${duty.id}">...</td>
							<td data-th-text="${duty.employeeName}">...</td>
							<td data-th-text="${duty.roleName}">...</td>
							<td data-th-text="${duty.welfare}">...</td>
							<td data-th-text="${duty.description}">...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="~{fragments/footer.html :: footer}">footer</div>
		<!-- /.container -->
	</div>
</body>

</html>