<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>职责分工表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <link rel="stylesheet" th:href="@{/css/core.css}">
       <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
           <script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>
    <meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div role="main" class="container">
   
     <div class="panel panel-default">
      <div class="panel-heading"><h3>以下为现有公司的职责分工:</h3></div>
 
	<hr/>
    <div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
    <table  id="dutyRecordList" class="table table-striped  table-sm " cellspacing="0"
  width="100%">
    	<thead>
   			 <tr class="info">
   			    <th>id</th>
   			    <th>员工名</th>
				<th>角色名</th>
				<th>补贴</th>
				<th>备注</th>
			</tr>
		</thead>
		
		<tbody>
			<tr data-th-each="duty : ${dutyList}">
			<td data-th-text="${duty.id}">...</td>
			<td data-th-text="${duty.employeeName}">...</td>
			<td data-th-text="${duty.roleName}">...</td>
			<td data-th-text="${duty.welfare}">...</td>
			<td data-th-text="${duty.description}">...</td>
			</tr>
		</tbody>
		</table>
	</div>
	 </div>

     <div class="panel panel-default">
              <div class="panel-heading">  <h3>创建新的角色分工</h3></div>
           
            <div class="form-group row">
			    <form th:action="@{/createDuty}"  method="POST">
		       		 <div class="input-group col-xs-4">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>员工姓名</span> 
		                <input id="employeeName" name="employeeName" type=text class="form-control input-sm" ></input>
		            </div>
	                <span class="help-block">每个员工可以担任不同的角色</span>
		       		 <div class="input-group col-xs-4">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i>角色名称</span> 
		                <input id="roleName" name="roleName" type=text class="form-control input-sm" ></input>
		            </div>
	                <span class="help-block">每个角色可以由多个员工担任</span>
		       		 <div class="input-group col-xs-4">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i>补贴</span> 
		                <input id="welfare" name="welfare" type=text class="form-control input-sm" ></input>
		            </div>
	                <span class="help-block">针对某一项职责或分工会有相应的补贴，比如开车补贴或者股东分红等</span>
		       		 <div class="input-group col-xs-4">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-music"></i>备注</span> 
		                <input id="description" name="description" type=text class="form-control input-sm" ></input>
		            </div>
	                <span class="help-block">此处填写额外的说明情况</span>
			        </div>
			        <hr>
			        <div class="row form-row">
			            <div class="col-md-4">
			                <input type="submit" class="btn btn-success btn-lg" value="提交"/>
			            </div>
			        </div>
			    </form>
			  </div>   
</div>
    <footer class="fixed-bottom" style="position: fixed; bottom: 0">
        <div class="container">
            <span class="text-muted">Developed by Yi Xiang Zhong.</span>
        </div>
    </footer>
<!-- /.container -->

</body>
</html>
