<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>员工表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <link rel="stylesheet" th:href="@{/css/core.css}">
       <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
           <script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>
    <meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<main role="main" class="container">

    <div class="starter-template">
        <h3>以下为现有的员工:</h3>
       
    </div>

    <div class="container">
    <table  class="table table-striped">
    	<thead>
   			 <tr class="info">
   			    <th>ID</th>
				<th>姓名</th>
				<th>工资</th>
				<th>生日</th>
				<th>简介</th>
				<th>离职否</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="employee : ${employeeList}">
			<td data-th-text="${employee.Id}">...</td>
			<td data-th-text="${employee.Name}">...</td>
			<td data-th-text="${employee.salary}">...</td>
			<td data-th-text="${employee.birthday}">...</td>
			<td data-th-text="${employee.description}">...</td>
			<td data-th-text="${employee.resigned}">...</td>
			</tr>
		</tbody>
		</table>
	</div>
</main>

<main role="main" class="container">
<!-- div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          
        </div>
    </nav> -->
      <div class="starter-template">
                <h3>创建新的员工</h3>
            </div>
            <div>
			    <form th:action="@{/createEmployee}"  method="POST">
			        <div class="row form-row">
			            <div class="col-xs-2"><i class="fa fa-plus"></i> 员工名称
			                <input id="name" name="name" type=text class="form-control input-sm" style="min-width: 10%"></input>
			            </div>
			               <div class="col-xs-2"><i class="fa fa-plus"></i> 工资
			                <input id="salary" name="salary" type=text class="form-control input-sm" style="min-width: 10%"></input>
			            </div>
			            <div class="col-xs-2"><i class="fa fa-asterisk"></i> 生日
			                <input id="birthday" name="birthday" type=text class="form-control input-sm" style="min-width: 10%"></input>
			            </div>
			            <div class="col-xs-2"><i class="fa fa-asterisk"></i> 简介
			                <input id="description" name="description" type=text class="form-control input-sm" style="min-width: 10%"></input>
			            </div>
			            <div class="col-xs-2"><i class="fa fa-asterisk"></i> 离职否
			                <input id="resigned" name="resigned" type=text class="form-control input-sm" style="min-width: 10%"></input>
			            </div>
			        </div>
			        <br>
			        <div class="row form-row">
			            <div class="col-md-4">
			                <input type="submit" class="btn btn-success btn-lg" value="提交"/>
			            </div>
			        </div>
			    </form>
			    </div>
			    
</main>
    <footer class="fixed-bottom" style="position: fixed; bottom: 0">
        <div class="container">
            <span class="text-muted">Developed by Yi Xiang Zhong.</span>
        </div>
    </footer>
<!-- /.container -->

</body>
</html>
