<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>员工表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/employeeList.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.min.js}"></script>
	<!-- <meta http-equiv="refresh" content="600; URL=/"> this will redirect to / after 600s -->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container">
		<div th:replace="~{fragments/employeeHeader.html :: header}">Employee Header</div>
		<div th:replace="~{fragments/alert.html :: alert}">alert div</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>以下为现有的员工:</h3>
			</div>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-hover">
					<thead>
						<tr class="info">
							<th>ID</th>
							<th>姓名</th>
							<th>工资</th>
							<th>生日</th>
							<th>离职否</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						<tr class="clickable-row" data-th-each="employee : ${employeeList}">
							<td data-th-text="${employee.Id}">...</td>
							<td data-th-text="${employee.Name}">...</td>
							<td data-th-text="${employee.salary}">...</td>
							<td data-th-text="${employee.birthday}">...</td>
							<!-- <td data-th-text="${#dates.format(employee.birthday, 'yyyy-MM-dd')}">...</td> -->
							<td  th:if="${employee.resigned} == y">已离职</td>
							<td  th:if="${employee.resigned} == n">在职</td>
							<td data-th-text="${employee.description}">...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> 
  	 <div th:replace="~{fragments/footer.html :: footer}">footer</div>
	</div>
</body>
</html>