<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>操作汇总</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script
	src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
  
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/operationSummary.js}"></script>
	<script type="text/javascript" th:src="@{/js/yueHeCommon.js}"></script>
	<link rel="stylesheet" th:href="@{/css/fstdropdown.css}">
    <script type="text/javascript"  th:src="@{/js/fstdropdown.js}"></script>
	<script type="text/javascript"  th:src="@{/js/yueHeFilter.js}"></script>
	<!-- <meta http-equiv="refresh" content="600; URL=/"> this will redirect to / after 600s -->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container ">
		<div th:replace="~{fragments/operationHeader.html :: header}">Operation Header</div>
		<div th:replace="~{fragments/yueHeFilter.html :: filter}">filter</div>
	</div>
	<input type="hidden" id="filterNeedComesFrom" th:value="operation">
	<div role="main" class="container ">
		
		<div class="row hidden" id="shop_detail">
			<hr>
			<div id="yuehe_overall" class="container">
				<div class="form-group row">
					<div class="col-sm-1 "> <label class="control-label ">公司名称</label>
						<span id="yuehe_overall_company_name" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">开卡金额</label>
						<span id="yuehe_overall_create_card_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">回款金额</label>
						<span id="yuehe_overall_earned_amount" class="form-control-static"></span>
					</div>
					
					<div class="col-sm-1"> <label class="control-label ">已消耗数</label>
						<span id="yuehe_overall_consumed_amount" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">消耗回款</label>
						<span id="yuehe_overall_consumed_earned_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">预付款数</label>
						<span id="yuehe_overall_advanced_earned_amount"
							class="form-control-static"></span></div>

				</div>
			</div>
			<hr>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table id="shop_detail_table" class="table table-hover  table-sm table-nonfluid">
					<thead>

						<tr class="info">
							<th>美容院</th>
							<th>开卡总金额</th>
							<th>回款金额</th>
							<th>已消耗总数</th>
							<th>已消耗回款</th>
							<th>预付款总数</th>
						</tr>
					</thead>

					<tbody id="shop_detail_table_body">
					</tbody>
				</table>
			</div>
		</div>
		<div class="row hidden" id="client_detail">
			<hr>
			<div id="shop_overall" class="container">
				<div class="form-group row">
					<div class="col-sm-1 "> <label class="control-label ">美容院名</label>
						<span id="shop_overall_shop_name" class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">开卡金额</label>
						<span id="shop_overall_create_card_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">回款金额</label>
						 <span id="shop_overall_earned_amount" class="form-control-static"></span>
					</div>
					
					<div class="col-sm-1"> <label class="control-label ">已消耗数</label>
						<span id="shop_overall_consumed_amount" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">消耗回款</label>
						<span id="shop_overall_consumed_earned_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">预付款数</label>
						<span id="shop_overall_advanced_earned_amount"
							class="form-control-static"></span></div>

				</div>
			</div>
			<hr>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table id="client_detail_table" class="table table-hover  table-sm table-nonfluid">
					<thead>

						<tr class="info">
							<th>客户姓名</th>
							<th>开卡总金额</th>
							<th>回款金额</th>
							<th>已消耗总数</th>
							<th>已消耗回款</th>
							<th>预付款总数</th>
						</tr>
					</thead>

					<tbody id="client_detail_table_body">
					</tbody>
				</table>
			</div>
		</div>
		<div class="row hidden" id="sale_detail">
			<hr>
			<div id="client_overall" class="container">
				<div class="form-group row">
					<div class="col-sm-1 "> <label class="control-label ">客户姓名</label>
						<span id="client_overall_client_name" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">开卡金额</label>
						<span id="client_overall_create_card_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">回款金额</label>
						 <span id="client_overall_earned_amount" class="form-control-static"></span>
					</div>
					
					<div class="col-sm-1"> <label class="control-label ">已消耗数</label>
						<span id="client_overall_consumed_amount" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">消耗回款</label>
						<span id="client_overall_consumed_earned_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">预付款数</label>
						 <span id="client_overall_advanced_earned_amount"
							class="form-control-static"></span></div>

				</div>
			</div>
			<hr>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table id="sale_detail_table" class="table table-hover  table-sm table-nonfluid">
					<thead>

						<tr class="info">
							<th>销售卡ID</th>
							<th>开卡日期</th>
							<th>美肤项目</th>
							<th>开卡总金额</th>
							<th>回款金额</th>
							<th>疗程总次数</th>
							<th>剩余次数</th>
							<th>已消耗总数</th>
							<th>已消耗回款</th>
							<th>预付款总数</th>
							<!-- 						<th>备注</th> -->
						</tr>
					</thead>

					<tbody id="sale_detail_table_body">
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row hidden" id="operation_detail">
			<div id="sale_overall" class="container">
				<div class="form-group row">
					<div class="col-sm-1 "> <label class="control-label ">销售卡ID</label>
						 <span id="sale_overall_sale_id" class="form-control-static"></span></div>
					<div class="col-sm-1 "> <label class="control-label ">开卡日期</label>
						<span id="sale_overall_create_card_date"
							class="form-control-static "></span></div>
					<div class="col-sm-1"> <label class="control-label ">美肤项目</label>
						<span id="sale_overall_beautify_skin_item_name"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">开卡金额</label>
						 <span id="sale_overall_create_card_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">回款金额</label>
						 <span id="sale_overall_earned_amount" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">开卡次数</label>
						<span id="sale_overall_item_number" class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">剩余次数</label>
						<span id="sale_overall_rest_item_number" class="form-control-static"></span>
					</div>
					<div class="col-sm-1"> <label class="control-label ">已消耗数</label>
						 <span id="sale_overall_consumed_amount" class="form-control-static"></span>
					</div>

					<div class="col-sm-1"> <label class="control-label ">消耗回款</label>
						 <span id="sale_overall_consumed_earned_amount"
							class="form-control-static"></span></div>
					<div class="col-sm-1"> <label class="control-label ">预付款数</label>
						<span id="sale_overall_advanced_earned_amount"
							class="form-control-static"></span></div>

				</div>
			</div>
			<hr>
			<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
				<table id="operation_detail_table" class="table table-hover  table-sm table-nonfluid">
					<thead>

						<tr class="info">
							<th>操作ID</th>
							<th>操作日期</th>
							<th>操作人</th>
							<th>仪器</th>
							<th>操作费用</th>
							<th>备注</th>
						</tr>
					</thead>

					<tbody id="operation_detail_table_body">
					</tbody>
				</table>
			</div>

		</div>
		<div th:replace="~{fragments/footer.html :: footer}">footer</div>
	</div>
</body>

</html>