<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>操作表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <link rel="stylesheet" th:href="@{/css/core.css}">
       <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
           <script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>
           <script type="text/javascript"  th:src="@{/js/operationSummary.js}"></script>
           <script type="text/javascript"  th:src="@{/js/yueheCommon.js}"></script>
    <meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div role="main" class="container ">
		<div th:replace="~{fragments/operationHeader :: header}">Operation Header</div>
</div>
<div role="main" class="container ">
	<div class="container ">
	
 	<!-- 统计各个美容院的总消耗，总开卡金额，总回款，总预付款等 -->
			<div class="form-group col-md-2 row ">
		    <label for="cosmeticShopName">美容院:</label>
		    <select  class="form-control" required="required"  name="cosmeticShop" id="cosmeticShop">
		      <option selected="selected" value="all"> --所有店 --
		      </option>
		      <option th:each="cosmeticShop : ${cosmeticShopList}" th:value="${cosmeticShop.id}" 
		       th:text="${cosmeticShop.name}" >
		      </option>
		    </select>
			</div>
	
			<div class="form-group col-md-2 row col-md-offset-1"  style="margin-left:5px">
		       <label for="client">客户姓名</label>
		          <select class="form-control"  
		          name="client" id="client" required="required">
		              <option  selected="selected" value="all" > --所有客户 --</option>
		          </select>
			</div>
	
			<div class="form-group col-md-3 row col-md-offset-1" style="margin-left:5px">
		       <label for="sale">美肤销售卡</label>
		          <select class="form-control"  
		          name="sale" id="sale" required="required">
		              <option selected="selected" value="all"  > --所有美肤卡 --</option>
		          </select>
			</div>
			 <div class="form-group col-md-4 row" style="margin-left:65px">
             	<div class="input-group col-md-4">
	                <button id="operation_summary_lookup" type="button" class="btn btn-outline-dark btn-lg" value="">查询</button>
	            </div>
	        </div>
	</div>	
	<div class="row hidden" id="shop_detail">
	<hr>
	<div id="yuehe_overall" class="container">
		   <div class="form-group row">
				<div class="col-sm-1 " > <label class="control-label " >公司</label></div>
				<div class="col-sm-1 ">	<span id="yuehe_overall_company_name"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >开卡金额</label></div>
				<div class="col-sm-1">	<span id="yuehe_overall_create_card_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >回款金额</label></div>
				<div class="col-sm-1">	<span id="yuehe_overall_earned_amount"  class="form-control-static" ></span></div>
			</div>
		   <div class="form-group row">
				<div class="col-sm-1" > <label class="control-label " >已消耗</label></div>
				<div class="col-sm-1">	<span id="yuehe_overall_consumed_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >消耗回款</label></div>
				<div class="col-sm-1" >	<span id="yuehe_overall_consumed_earned_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >预付款</label></div>
				<div class="col-sm-1">	<span id="yuehe_overall_advanced_earned_amount"  class="form-control-static" ></span></div>
				
			</div>
		</div>
		<hr>
		<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
		    <table  id="shop_detail_table" class="table table-striped  table-sm table-nonfluid" >
		    	<thead>
		    	
		   			 <tr class="info">
						<th>美容院</th>
						<th>开卡总金额</th>
						<th>回款金额</th>
						<th>已消耗总数</th>
						<th>已消耗回款</th>
						<th>预付款总数</th>
					</tr>
				</thead>
				
				<tbody id="shop_detail_table_body">
				</tbody>
				</table>
			</div>
	    </div>
	<div class="row hidden" id="client_detail">
	<hr>
	<div id="shop_overall" class="container">
		   <div class="form-group row">
				<div class="col-sm-1 " > <label class="control-label " >美容院</label></div>
				<div class="col-sm-1 ">	<span id="shop_overall_shop_name"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >开卡金额</label></div>
				<div class="col-sm-1">	<span id="shop_overall_create_card_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >回款金额</label></div>
				<div class="col-sm-1">	<span id="shop_overall_earned_amount"  class="form-control-static" ></span></div>
			</div>
		   <div class="form-group row">
				<div class="col-sm-1" > <label class="control-label " >已消耗</label></div>
				<div class="col-sm-1">	<span id="shop_overall_consumed_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >消耗回款</label></div>
				<div class="col-sm-1" >	<span id="shop_overall_consumed_earned_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >预付款</label></div>
				<div class="col-sm-1">	<span id="shop_overall_advanced_earned_amount"  class="form-control-static" ></span></div>
				
			</div>
		</div>
		<hr>
		<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
		    <table  id="client_detail_table" class="table table-striped  table-sm table-nonfluid" >
		    	<thead>
		    	
		   			 <tr class="info">
						<th>客户姓名</th>
						<th>开卡总金额</th>
						<th>回款金额</th>
						<th>已消耗总数</th>
						<th>已消耗回款</th>
						<th>预付款总数</th>
					</tr>
				</thead>
				
				<tbody id="client_detail_table_body">
				</tbody>
				</table>
			</div>
	    </div>
	<div class="row hidden" id="sale_detail">
	<hr>
	<div id="client_overall" class="container">
		   <div class="form-group row">
				<div class="col-sm-1 " > <label class="control-label " >客户姓名</label></div>
				<div class="col-sm-1 ">	<span id="client_overall_client_name"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >开卡金额</label></div>
				<div class="col-sm-1">	<span id="client_overall_create_card_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >回款金额</label></div>
				<div class="col-sm-1">	<span id="client_overall_earned_amount"  class="form-control-static" ></span></div>
			</div>
		   <div class="form-group row">
				<div class="col-sm-1" > <label class="control-label " >已消耗</label></div>
				<div class="col-sm-1">	<span id="client_overall_consumed_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >消耗回款</label></div>
				<div class="col-sm-1" >	<span id="client_overall_consumed_earned_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >预付款</label></div>
				<div class="col-sm-1">	<span id="client_overall_advanced_earned_amount"  class="form-control-static" ></span></div>
				
			</div>
		</div>
		<hr>
		<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
		    <table  id="sale_detail_table" class="table table-striped  table-sm table-nonfluid" >
		    	<thead>
		    	
		   			 <tr class="info">
		   			    <th>销售卡ID</th>
						<th>开卡日期</th>
						<th>美肤项目</th>
						<th>开卡总金额</th>
						<th>回款金额</th>
						<th>疗程总次数</th>
						<th>剩余次数</th>
						<th>已消耗总数</th>
						<th>已消耗回款</th>
						<th>预付款总数</th>
<!-- 						<th>备注</th> -->
					</tr>
				</thead>
				
				<tbody id="sale_detail_table_body">
				</tbody>
				</table>
			</div>
	    </div>
	    <hr>
	<div class="row hidden" id="operation_detail">
		<div id="sale_overall" class="container">
		   <div class="form-group row">
				<div class="col-sm-1 " > <label class="control-label " >销售卡ID</label></div>
				<div class="col-sm-1 ">	<span id="sale_overall_sale_id"  class="form-control-static" ></span></div>
				<div class="col-sm-1 " > <label class="control-label " >开卡日期</label></div>
				<div class="col-sm-1 " >	<span id="sale_overall_create_card_date"  class="form-control-static pull-left" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >美肤项目</label></div>
				<div class="col-sm-1">	<span id="sale_overall_beautify_skin_item_name"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >开卡金额</label></div>
				<div class="col-sm-1">	<span id="sale_overall_create_card_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >回款金额</label></div>
				<div class="col-sm-1">	<span id="sale_overall_earned_amount"  class="form-control-static" ></span></div>
				
			</div>
		   <div class="form-group row">
				<div class="col-sm-1" > <label class="control-label " >开卡次数</label></div>
				<div class="col-sm-1">	<span id="sale_overall_item_number"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >剩余次数</label></div>
				<div class="col-sm-1" >	<span id="sale_overall_rest_item_number"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >已消耗</label></div>
				<div class="col-sm-1">	<span id="sale_overall_consumed_amount"  class="form-control-static" ></span></div>
				
				<div class="col-sm-1" > <label class="control-label " >消耗回款</label></div>
				<div class="col-sm-1" >	<span id="sale_overall_consumed_earned_amount"  class="form-control-static" ></span></div>
				<div class="col-sm-1" > <label class="control-label " >预付款</label></div>
				<div class="col-sm-1">	<span id="sale_overall_advanced_earned_amount"  class="form-control-static" ></span></div>
				
			</div>
		</div>
		<hr>
		<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
		    <table  id="operation_detail_table" class="table table-striped  table-sm table-nonfluid" >
		    	<thead>
		    	
		   			 <tr class="info">
		   			    <th>操作ID</th>
						<th>操作日期</th>
						<th>操作人</th>
						<th>仪器</th>
						<th>操作费用</th>
						<th>备注</th>
					</tr>
				</thead>
				
				<tbody id="operation_detail_table_body">
				</tbody>
				</table>
			</div>
	    
	    </div>
    	<div th:replace="~{fragments/footer :: footer}">footer</div>
</div> 
</body>
</html>
