<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>新建销售卡金额调整条目</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fstdropdown.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/saleCardAmountAdjustNewItem.js}"></script>
	<script type="text/javascript" th:src="@{/js/yueHeCommon.js}"></script>
	<script type="text/javascript" th:src="@{/js/fstdropdown.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.js}"></script>
	<!-- <meta http-equiv="refresh" content="600; URL=/"> this will redirect to / after 600s -->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container">
		<div th:replace="~{fragments/saleCardAmountAdjustHeader.html :: header}">SaleCardAmountAdjust Header</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>调整销售卡数额</h3>
			</div>

			<div class="yuehe-form-group">
				<form id="saleCardAmountAdjust_new_item" th:action="@{/createSaleCardAmountAdjust}" th:object="${saleCardAmountAdjust}" method="POST">
					<br>
					<input type="hidden" id="saleId" name="saleId" th:value="${saleId}">
					<div class="form-group  row ">
						<div class="col-md-1"> <span class="input-group-addon"><i
									class="glyphicon glyphicon-euro"></i>更改类别</span> </div>

						<div class="col-xs-3">
							<select class="form-control input-sm" name="adjustAction" id="adjustAction">
								<option selected="selected" value=""> --请选择更改类别 --
								</option>
								<option value="add">补尾款</option>
								<option value="return">退款</option>
							</select>
						</div>
						<div class="col-xs-6">
							<span class="help-block">针对一个销售卡，可能存在款未付全或退款的情况</span>
						</div>
					</div>
					
					<div class="form-group  row ">
						<div class="col-md-1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>调整金额</span>
						</div>
						<div class="col-xs-3">
							<input id="adjustAmount" name="adjustAmount" type=text
								class="form-control input-sm"></input>
						</div>
						<div class="col-xs-6">
							<span class="help-block">针对该销售卡的调整金额数</span>
						</div>
					</div>
					<div class="form-group  row ">
						<div class="col-md-1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>员工奖励</span>
						</div>
						<div class="col-xs-3">
							<input id="employeePremiumAdjustAmount" name="employeePremiumAdjustAmount" type=text
								class="form-control input-sm"></input>
						</div>
						<div class="col-xs-6">
							<span class="help-block">针对该销售卡的调整员工奖励金额数</span>
						</div>
					</div>
					<div class="form-group  row ">
						<div class="col-md-1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>店家回扣</span>
						</div>
						<div class="col-xs-3">
							<input id="shopPremiumAdjustAmount" name="shopPremiumAdjustAmount" type=text
								class="form-control input-sm"></input>
						</div>
						<div class="col-xs-6">
							<span class="help-block">针对该销售卡的调整店家回扣金额数</span>
						</div>
					</div>
					<div class="form-group  row ">
						<div class="col-md-1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>调整日期</span>
						</div>
						<div class="col-xs-3">
							<input id="adjustDate" name="adjustDate" type=text class="form-control input-sm"></input>
						</div>
						<div class="col-xs-6">
							<span class="help-block">这个日期可被用来计算当月的业绩，现在认为的是即使是补尾款也算当月业绩</span>
						</div>
					</div>
					<div class="form-group  row ">
						<div class="col-md-1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>备注</span>
						</div>
						<div class="col-xs-3">
							<textarea rows="4" cols="50"   id="description" name="description" type=text class="form-control input-sm"></textarea>
						</div>
						<div class="col-xs-6">
							<span class="help-block">此处填写额外的说明情况</span>
						</div>
					</div>
					<div class="form-group  row ">
						<div class="content">
							<div class="input-group col-xs-4">
								<input type="submit" class="btn-primary  btn-lg submit" value="提交" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="~{fragments/footer.html :: footer}">footer</div>
		<!-- /.container -->
	</div>
</body>

</html>