<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>销售表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/saleList.js}"></script>
	<script type="text/javascript" th:src="@{/js/yueheCommon.js}"></script>
	<meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container">
		<div th:replace="~{fragments/saleHeader.html :: header}">Sale Header</div>
		<div th:classappend="${message != null ? 'alert alert-success alert-dismissible' : 'hidden'}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="yuehe-alert" th:text="${message}"></span>
			</div>
		<div class="panel panel-default">
			
			<div class="panel-heading" style="padding-bottom: 0px;padding-top: 0px;">
				<div class="form-group  row " style="margin-bottom: 0px;">
					<div class="col-md-11">
						<h3>以下为现有的销售记录:</h3>
					</div>

					<div class="col-md-1">
						<h3><button id="sale_csv_export" type="submit" class="btn btn-primary">导出csv</button></h3>
					</div>
				</div>

			</div>
		
			<div class="panel-body my-panels table-wrapper-scroll-y my-custom-scrollbar">

				<table id="saleRecordList" class="table table-hover  table-sm ">
					<thead>
						<tr class="info">
							<th data-sort-prop="id">ID</th>
							<th data-sort-prop="employee.name">销售专家</th>
							<th data-sort-prop="client.cosmeticShop.name">美容院</th>
							<th data-sort-prop="client.name">客户姓名</th>
							<th data-sort-prop="beautifySkinItem.name">美肤项目</th>
							<th data-sort-prop="createCardDate">开卡日期</th>
							<th data-sort-prop="itemNumber">开卡次数</th>
							<th data-sort-prop="createCardTotalAmount">开卡总金额</th>
							<th data-sort-prop="receivedAmount">实收金额</th>
							<th data-sort-prop="discount">折扣</th>
							<th data-sort-prop="unpaidAmount">欠款</th>
							<th data-sort-prop="earnedAmount">应回款</th>
							<th data-sort-prop="receivedEarnedAmount">实收回款</th>
							<th data-sort-prop="unpaidEarnedAmount">欠收回款</th>
							<th data-sort-prop="employeePremium">员工回扣</th>
							<th data-sort-prop="shopPremium">店家回扣</th>
							<th>备注</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td><input class="yuehe-filter-Input" id="sale_id" placeholder="搜ID"></td>
							<td><input class="yuehe-filter-Input" id="seller_name" placeholder="搜专家"></td>
							<td><input class="yuehe-filter-Input" id="cosmeticshop_name" placeholder="搜美容院"></td>
							<td><input class="yuehe-filter-Input" id="client_name" placeholder="搜客户"></td>
							<td><input class="yuehe-filter-Input" id="beautifyskinitem_name" placeholder="搜项目"></td>
							<td><input class="yuehe-filter-Input" id="create_card_date" placeholder="搜日期"></td>
							<td><input class="yuehe-filter-Input" id="item_number" placeholder="搜次数"></td>
							<td><input class="yuehe-filter-Input" id="create_card_total_amount" placeholder="搜总金额"></td>
							<td><input class="yuehe-filter-Input" id="received_amount" placeholder="搜实收"></td>
							<td><input class="yuehe-filter-Input" id="discount" placeholder="搜折扣"></td>
							<td><input class="yuehe-filter-Input" id="unpaid_amount" placeholder="搜欠款"></td>
							<td><input class="yuehe-filter-Input" id="earned_amount" placeholder="搜回款"></td>
							<td><input class="yuehe-filter-Input" id="received_earned_amount" placeholder="搜实收回款"></td>
							<td><input class="yuehe-filter-Input" id="unpaid_earned_amount" placeholder="搜欠收回款"></td>
							<td><input class="yuehe-filter-Input" id="employee_premium" placeholder="搜员工回扣"></td>
							<td><input class="yuehe-filter-Input" id="shop_premium" placeholder="搜店家回扣"></td>
							<td><input class="yuehe-filter-Input" id="description" placeholder="搜备注"></td>
						</tr>
						<tr  class="clickable-row" data-th-each="sale : ${saleList}">
							<td data-th-text="${sale.saleId}">...</td>
							<td data-th-text="${sale.sellerName}">...</td>
							<td data-th-text="${sale.cosmeticShopName}">...</td>
							<td data-th-text="${sale.clientName}">...</td>
							<td data-th-text="${sale.beautifySkinItemName}">...</td>
							<td data-th-text="${sale.createCardDate}">...</td>
							<td data-th-text="${sale.itemNumber}">...</td>
							<td data-th-text="${sale.createCardTotalAmount}">...</td>
							<td data-th-text="${sale.receivedAmount}">...</td>
							<td data-th-text="${sale.discount}">...</td>
							<td data-th-text="${sale.unpaidAmount}">...</td>
							<td data-th-text="${sale.earnedAmount}">...</td>
							<td data-th-text="${sale.receivedEarnedAmount}">...</td>
							<td data-th-text="${sale.unpaidEarnedAmount}">...</td>
							<td data-th-text="${sale.employeePremium}">...</td>
							<td data-th-text="${sale.shopPremium}">...</td>
							<td data-th-text="${sale.description}">...</td>
						</tr>
					</tbody>
				</table>
			</div>
			<input id="salePageNumber" type="hidden" th:value="${salePage.number}">
			<input id="salePageSize" type="hidden" th:value="${salePage.size}">
			<input id="sortProperty" type="hidden" th:value="${sortProperty}">
			<input id="sortDirectionFlag" type="hidden" th:value="${sortDirectionFlag}">
			<!-- using th:with to declare a local variable for sorting query param -->
			<ul class="pagination pull-right" th:with="sortParam=${sortProperty+','+(sortDirectionFlag?'desc':'asc')}">
				<li th:if="${salePage.hasPrevious()}">
					<a
						th:href="@{/getSaleList(page=${salePage.number-1},size=${salePage.size},sort=${sortParam})}">上一页</a>
				</li>
				<th:block th:each="i: ${#numbers.sequence(0, salePage.totalPages - 1)}">
					<li th:if="${salePage.number == i}" class="active"><a href="#" >[[${i}+1]]</a></li>
					<li th:unless="${salePage.number == i}">
						<a th:href="@{/getSaleList(page=${i},size=${salePage.size},sort=${sortParam})}">[[${i}+1]]</a>
					</li>
				</th:block>
				<li th:if="${salePage.hasNext()}">
					<a th:href="@{/getSaleList(page=${salePage.number+1},size=${salePage.size},sort=${sortParam})}">下一页</a>
				</li>
			</ul>
<!-- Sales pagination -->
<!-- <nav aria-label="Pagination" th:if="${customers.totalPages gt 0}"> -->
<!--     <ul class="pagination justify-content-center font-weight-medium"> -->
<!--         <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'"> -->
<!--             <a class="page-link svg-icon" -->
<!--                th:href="@{/admin/customers?page={id}(id=${customers.number lt 2 ? 1 : customers.number})}" -->
<!--                aria-label="Previous" -->
<!--                title="Previous Page" rel="tooltip"> -->
<!--                 <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span> -->
<!--             </a> -->
<!--         </li> -->
<!--         <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'" -->
<!--             th:each="i : ${#numbers.sequence( customers.number + 1, customers.totalPages > 10 + customers.number ? customers.number + 10 : customers.totalPages, 1)}"> -->
<!--             <a class="page-link" th:href="@{/admin/customers?page={id}(id=${i})}" th:text="${i}" -->
<!--                th:title="${'Page '+ i}" -->
<!--                rel="tooltip"></a> -->
<!--         </li> -->
<!--         <li class="page-item disabled" th:if="${customers.number + 10 < customers.totalPages}"> -->
<!--             <a class="page-link svg-icon" href="#"> -->
<!--                 <span data-feather="more-horizontal" width="20" height="20"></span> -->
<!--             </a> -->
<!--         </li> -->
<!--         <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'"> -->
<!--             <a class="page-link svg-icon" th:href="@{/admin/customers?page={id}(id=${customers.number + 2})}" -->
<!--                aria-label="Next" -->
<!--                title="Next Page" rel="tooltip"> -->
<!--                 <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span> -->
<!--             </a> -->
<!--         </li> -->
<!--     </ul> -->
<!-- </nav> -->

	 </div>

   <div th:replace="~{fragments/footer.html :: footer}">footer</div>
<!-- /.container -->
</div>
</body>
</html>