<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>编辑销售卡</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/core.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fstdropdown.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/saleEditItem.js}"></script>
	<script type="text/javascript" th:src="@{/js/yueheCommon.js}"></script>
	<script type="text/javascript" th:src="@{/js/fstdropdown.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.js}"></script>
	<meta http-equiv="refresh" content="600; URL=/"> <!-- this will redirect to / after 600s-->

</head>

<body>
	<div th:replace="~{fragments/header.html :: header}">Header</div>

	<div role="main" class="container">
		<!-- <div th:replace="~{fragments/saleHeader.html :: header}">Sale Header</div> -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>编辑销售卡</h3>
			</div>

			<div class="yuehe-form-group">
				<form id="sale_edit_item" action="#" th:action="@{/sale/update/{id}(id=${sale.id})}" method="POST"
					th:object="${sale}">
					<br>
					<input type="hidden" id="saleId" th:value="${sale.id}">
					<div class="form-group  row ">
						<div class="col-md-1"> <span class="input-group-addon"><i
									class="glyphicon glyphicon-euro"></i>美容院</span> </div>

						<div class="col-xs-3">
							<select class="fstdropdown-select" th:field="*{client.cosmeticShop.id}" required="required"
								name="cosmeticShopId" id="cosmeticShop" data-placeholder="请输入美容院名搜索">
								<option selected="selected" th:value="${sale.client.cosmeticShop.id}"
									th:text="${sale.client.cosmeticShop.name}">
								</option>
								<option th:each="cosmeticShop : ${cosmeticShopList}" th:value="${cosmeticShop.id}"
									th:text="${cosmeticShop.name}">
								</option>
							</select>
						</div>
						<div class="col-xs-6">
							<span class="help-block">一般来讲，通过客户名可以确定哪家美容院，但是不排除重名的情况</span>
						</div>
					</div>
					<div th:classappend="${#fields.hasErrors('client.cosmeticShop.id') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('client.cosmeticShop.id')}" th:errors="*{client.cosmeticShop.id}"></span>
							</div>
		       		 </div>
					  <div class="form-group  row ">
			    	<div class="col-md-1"> <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>客户名</span> </div>
		       			<div class="col-xs-3">    
			       			<select  class="fstdropdown-select " th:field="*{client.id}"  required="required"  name="clientId" id="client" data-placeholder="请输入客户姓名搜索" data-disabled="false">
						      <option selected="selected" th:value="${sale.client.id}" th:text="${sale.client.name}"></option>
						      <option th:each="client : ${clientList}" th:value="${client.id}" 
						       th:text="${client.name}" >
						      </option>
							</select>
							
					    </div>
		           		<div class="col-xs-6"> 
	                		<span class="help-block">每个客户如果有不同的项目需分开写</span>
	                	</div>
	                </div> 
					<div th:classappend="${#fields.hasErrors('client.id') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('client.id')}" th:errors="*{client.id}"></span>
							</div>
		       		 </div>
		       		 <div class="form-group  row ">
			           	<div class="col-md-1"> 
			            	<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>美肤项目</span> 
			            </div>
			             <div class="col-xs-3">  
			             <select  class="fstdropdown-select" th:field="*{beautifySkinItem.id}"  required="required"  name="beautifySkinItemId" id="beautifySkinItem">
						      <option selected="selected" th:value="${sale.beautifySkinItem.id}" th:text="${sale.beautifySkinItem.name}"> 
						      </option>
						      <option th:each="beautifySkinItem : ${beautifySkinItemList}" th:value="${beautifySkinItem.id}" 
						       th:text="${beautifySkinItem.name}" >
						      </option>
							</select>
							
		                </div>
		                <div class="col-xs-6">
	              			  <span class="help-block">一般包括有真皮斑，代谢，表皮斑，水光，扫黄等等</span>
             			</div>
					</div>
					<div th:classappend="${#fields.hasErrors('beautifySkinItem.id') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('beautifySkinItem.id')}" th:errors="*{beautifySkinItem.id}"></span>
							</div>
		       		 </div>
		       		<div class="form-group  row ">
			            <div class="col-md-1"> 
			            	<span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>开卡日期</span> 
			            </div>
			            <div class="col-xs-3">  
		               		 <input id="createCardDate"  th:field="*{createCardDate}"  name="createCardDate" type=text class="form-control input-sm" th:value="${sale.createCardDate}"></input>
		               	</div>
		                <div class="col-xs-6">
	               		 	<span class="help-block">通过开卡日期可以确定针对某个客户的单次某个项目的销售</span>
	               		</div>
					</div>
					<div th:classappend="${#fields.hasErrors('createCardDate') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('createCardDate')}" th:errors="*{createCardDate}"></span>
							</div>
		       		 </div>
		       		 <div class="form-group  row ">
			       		 <div class="col-md-1"> 
				            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>开卡次数</span> 
				         </div>   
			            <div class="col-xs-3">  
		              	  <input id="itemNumber"  th:field="*{itemNumber}" name="itemNumber" type=text class="form-control input-sm" th:value="${sale.itemNumber}" ></input>
		              	</div>
		              	<div class="col-xs-6">
	               			 <span class="help-block">通过开卡次数和开卡金额可以计算某个项目给与客户的优惠力度，还可以计算消耗</span>
	               		</div>
					 </div>
					 <div th:classappend="${#fields.hasErrors('itemNumber') ? 'form-group  row' : 'hidden'}">
						<div class="col-sm-1" style="width: 1%;"></div>
						<div class="col-md-4 alert alert-danger alert-dismissible"> 
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('itemNumber')}" th:errors="*{itemNumber}"></span>
						</div>
						<div class="col-xs-6">
						</div>
		       		 </div>
		       		 <div class="form-group  row ">
		       		 	<div class="col-md-1"> 
			           		 <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>开卡总金额</span> 
			            </div>
			             <div class="col-xs-3">  
		                	<input id="createCardTotalAmount" th:field="*{createCardTotalAmount}"  name="createCardTotalAmount" type=text class="form-control input-sm" th:value="${sale.createCardTotalAmount}"></input>
		                 </div>
			            <div class="col-xs-6">
	                		<span class="help-block">开卡总金额一般由销售专家根据客户情况拟定，需跟标准价格进行计算得出优惠力度</span>
		          		  </div>
					</div>
					<div th:classappend="${#fields.hasErrors('createCardTotalAmount') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('createCardTotalAmount')}" th:errors="*{createCardTotalAmount}"></span>
						</div>
					</div>
		       		<div class="form-group  row ">
			       		 <div class="col-md-1">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>实收金额</span> 
			            </div>
			             <div class="col-xs-3">  
		                <input id="receivedAmount" th:field="*{receivedAmount}"   name="receivedAmount" type=text class="form-control input-sm" th:value="${sale.receivedAmount}"></input>
		                </div>
			            <div class="col-xs-6">
		               		 <span class="help-block">这个是指客户给到店家的金额，也就是通常意义的业绩收入，需要按店折扣计算回款</span>
			            </div>
					</div>
					<div th:classappend="${#fields.hasErrors('receivedAmount') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('receivedAmount')}" th:errors="*{receivedAmount}"></span>
							</div>
		       		 </div>
		       		<div class="form-group  row ">
			       		 <div class="col-md-1">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>实收回款</span> 
			            </div>
			             <div class="col-xs-3">  
		                <input id="receivedEarnedAmount" th:field="*{receivedEarnedAmount}"   name="receivedEarnedAmount" type=text class="form-control input-sm" th:value="${sale.receivedEarnedAmount}"></input>
		                </div>
			            <div class="col-xs-6">
		               		 <span class="help-block">这个是指店家回给悦和的金额，按店折扣计算回款，并需减除员工奖励和店家回扣</span>
			            </div>
		            </div>
					<div th:classappend="${#fields.hasErrors('receivedEarnedAmount') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('receivedEarnedAmount')}" th:errors="*{receivedEarnedAmount}"></span>
							</div>
		       		 </div>
	                 <div class="form-group  row ">
			       		 <div class="col-md-1">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>员工奖励</span> 
			            </div>
			            <div class="col-xs-3">  
		                <input id="employeePremium"  th:field="*{employeePremium}" name="employeePremium" type=text class="form-control input-sm" th:value="${sale.employeePremium}"></input>
		                </div>
		                <div class="col-xs-6">
	             		   <span class="help-block">这个每个店可能都不一样，有些是开卡金额的百分之一，有些是满多少万给100或200</span>
             		   </div>
					</div>
					<div th:classappend="${#fields.hasErrors('employeePremium') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('employeePremium')}" th:errors="*{employeePremium}"></span>
							</div>
		       		 </div>
		       		  <div class="form-group  row ">
			       		 <div class="col-md-1">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>店家回扣</span> 
			            </div>
			            <div class="col-xs-3">  
		                <input id="shopPremium"   th:field="*{shopPremium}" name="shopPremium" type=text class="form-control input-sm" th:value="${sale.shopPremium}"></input>
		                </div>
		                <div class="col-xs-6">
			                <span class="help-block">这是针对柳叶或者肤语港，满足一定条件需要返还店家一定额度的业绩</span>
		                </div>
		            </div>
					<div th:classappend="${#fields.hasErrors('shopPremium') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('shopPremium')}" th:errors="*{shopPremium}"></span>
							</div>
		       		 </div>
	                 <div class="form-group  row ">
			       		 <div class="col-md-1">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>销售专家</span> 
			            </div>
		           		<div class="col-xs-3">    
			       			<select  class="fstdropdown-select"  th:field="*{employee.id}" required="required"  name="sellerId" id="seller">
						      <option selected="selected" th:value="${sellerId}" th:text="${sale.employee.name}"> 
						      </option>
						      <option th:each="seller : ${dutyList}" th:value="${seller.employeeId}" 
						       th:text="${seller.employeeName}" >
						      </option>
						    </select>
					    </div>
			             <div class="col-xs-6">
		                <span class="help-block">目前专家只有钟悦旻和陈康健，需要按格式填写销售记录表</span>
		                 </div>
					 </div>
					 <div th:classappend="${#fields.hasErrors('employee.id') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('employee.id')}" th:errors="*{employee.id}"></span>
							</div>
		       		 </div>
		       		   <div class="form-group  row ">
		       		 <div class="col-md-1">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>备注</span> 
		            </div>
	                <div class="col-xs-3"> 
		                <input id="description"  th:field="*{description}" name="description" type=text class="form-control input-sm" th:value="${sale.description}"></input>
		            </div>
		             <div class="col-xs-6">
	              	  <span class="help-block">此处填写额外的说明情况</span>
					</div>
					<div th:classappend="${#fields.hasErrors('description') ? 'form-group  row' : 'hidden'}">
							<div class="col-sm-1" style="width: 1%;"></div>
							<div class="col-md-4 alert alert-danger alert-dismissible"> 
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
							</div>
		       		 </div>
	                </div>
		            <div class="form-group  row ">
				        <div class="content">
				            <div class="input-group col-xs-1">
				                <input type="submit" class="btn  btn-lg" name="saleUpdateItem" value="更新"/>
				            </div>
				            <div class="input-group col-xs-1">
									<!-- <a th:href="@{/sale/delete/{id}(id=${sale.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2">删除</i></a> -->
				                <input id="sale_delete_btn" type="submit" name="saleDeleteItem" class="btn  btn-lg" value="删除"/>
				            </div>
				        </div>
			        </div>
			    </form>
			  </div>   
		</div>
   <div th:replace="~{fragments/footer.html :: footer}">footer</div>
<!-- /.container -->
</div>
</body>
</html>